.saas_table {
    width: 80%;
}

.saas_export_message {color: green; text-align: center; margin-top: 1em; margin-bottom: 1em;}
.saas_export_warning {color: darkblue; font-weight: bold;}
.saas_export_error {color: red;}

.leftalign {text-align: left;}
.rightalign {text-align: right;}
.centeralign {text-align: center;}
.saas_justifiedalign {text-align: justify;}

.centerimg {display: block; margin-left: 20%; margin-right: auto;}

.saas_category_tree {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.saas_category_tree .level1 {background-color: #C0C0C0;}
.saas_category_tree .level2 {background-color: #D0D0D0;}
.saas_category_tree .level3 {background-color: #E0E0E0;}
.saas_category_tree .level4 {background-color: #F0F0F0;}
.saas_category_tree .level5 {background-color: #FFFFFF;}

.saas_category_tree .normalcolor {
    background-color: #D0D0D0;
}

.saas_category_tree .alternatecolor {
    background-color: #E8E8E8;
}

.saas_category_tree .saas_pix {
    padding-right: 0.3em;
}
