.saas_export_message {color: green;}
.saas_export_warning {color: darkblue; font-weight: bold;}

.leftalign {text-align: left;}
.rightalign {text-align: right;}
.centeralign {text-align: center;}
.justifiedalign {text-align: justify;}

.centerimg {display: block; margin-left: 20%; margin-right: auto;}

/* CSS Tree menu styles */

.category_tree {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.category_tree ol.tree {
	padding: 0 0 0 30px;
	width: 90%;
}
.category_tree li {
    position: relative;
    margin-left: -20px;
    list-style: none;
    clear: both;
}
.category_tree li.course {
    margin-left: -1px !important;
}
.category_tree li input {
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1.0em;
    width: 1em;
    top: 0;
}
.category_tree li input + ol {
    background: url("../report/saas_export/img/toggle-small-expand.png") 40px 0 no-repeat;
    margin: -0.938em 0 0 -44px; /* 15px */
    height: 1em;
}
.category_tree li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
.category_tree li label {
    background: url("../report/saas_export/img/folder-horizontal.png") 15px 1px no-repeat;
    cursor: pointer;
    display: block;
    padding-left: 37px;
}
.category_tree li input:checked + ol {
    background: url("../report/saas_export/img/toggle-small.png") 40px 5px no-repeat;
    margin: -1.25em 0 0 -44px; /* 20px */
    padding: 1.563em 0 0 80px;
    height: auto;
}
.category_tree li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
.category_tree li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }

.category_tree li span {float: left; margin-left: 5px; margin-right: auto;}
.category_tree li select {float: right; margin-left: auto;}

.category_tree li.normalcolor {background-color: #E8E8E8;}
.category_tree li.alternatecolor {background-color:#D4D4D4;}

.category_tree .titleleft {font-size: 1.3em; float: left; margin-left: 10%; margin-right: auto;}
.category_tree .titleright {font-size: 1.3em; float: right; margin-left: auto; margin-right: 10%;}
