.saas_export_message {color: green;}
.saas_export_warning {color: darkblue; font-weight: bold;}

.leftalign {text-align: left;}
.rightalign {text-align: right;}
.centeralign {text-align: center;}
.justifiedalign {text-align: justify;}
